.container{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    width: 80%;
}

nav ul{
    background: #1a75ff;
    display: flex;
    margin: 10px;
    width: 90%;
    margin-bottom: 50px;
}

nav ul li{
    list-style: none;
    margin: 5px;
    padding: 20px;
}

nav ul li a{
    text-decoration: none;
    padding: 20;  
    color: white;
    opacity: 0.5;
}

nav ul li a:hover:not(.active){
    background-color: white;
    opacity: 0.5;
    color: black;
    border-radius: 6px;
}

.active{
    color: white !important;
    opacity: 1;
}

.form-label{
    width: 20%;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.form-input{
    width: 40%;
    padding: 8px 20px;
    margin: 0 0 20px;
    box-sizing: border-box;
}

input[type=text]:focus{
    border: 2px solid #555;
    border-radius: 4px;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:0;
    margin-bottom: 15px;
    padding-top: 0;
}

.form-radio{
    width: 100;
    margin: 5px 0px 10px;
}

.btn{
    width: auto;
    background-color: #1a75ff;
    border-radius: 6px;
    border: 1px solid #808080;
    color: white;
    padding: 10px;
    margin-left: 10px;
}

.btn:hover{
    background-color: #0099e6;
    color: white;
}

.btn:active{
    background-color: #0099e6;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.contenido h1{
    font-weight: normal;
    margin: 10px;
    margin-bottom: 20px;
}

.contenido table{
    width: 92%;
    margin: 10px;
}

.contenido table tr th h2{
    font-weight: normal;
    font-size:x-large;
}

.contenido table, th{ 
    border: 1px solid #8c8c8c;
    border-collapse: collapse;
    padding: 20px;
}

.contenido table tr th{
    font-weight: normal;
    text-align: left;
    font-size: large;
  
}

.contenido table tr:first-child{background-color: #f2f2f2;}

body{
    display: flex;
    justify-content: center;
}







