.container{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

#boxlogin{
    background-color: #e3e3fc;
    border: 1px solid #808080;
    width: 500px;
    height: 310px;
    margin: 50px;
    padding: 10px 40px;
}

#login{
    text-align: center;
    font-weight: normal;
}

input{
    width: 100%;
    padding: 8px 20px;
    margin: 0 0 20px;
    box-sizing: border-box;
}

.btn{
    width: auto;
    background-color: #1ab2ff;
    border-radius: 6px;
    border: 1px solid #808080;
    color: white;
}

.btn:hover{
    background-color: #0099e6;
    color: white;
}

.btn:active{
    background-color: #0099e6;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}






